{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
		<div class="wrapper">
			<nav>
				<ul class="nav-area">
					<li><a href="#">Home</a></li>
					<li><a href="{% url 'about' %}">About Me</a></li>
					<li><a href="{% url 'contact' %}">Contact Me</a></li>
					<li><a href="{% url 'gallery' %}">Gallery</a></li>
					<li><a href="{% url 'note' %}">Drop a Note</a></li>
				</ul>
			</nav>

		</div>

		<div class="welcome-text">
			<h1>I'm <br><span>Shamna Soman</span></h1>
			<h2>AS400 Developer</h2>
			<p>This is my personal website</p>
			<a href="{% static 'Resume_Shamna.doc' %}">DOWNLOAD CV</a>
		</div>

		<div class="image">
			<img src="{% static 'pp1.jpg' %}" class="shape" height=300px width="300px">
		</div>
    </header>
</body>
</html>